<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Voting Page</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper" class="mb-5">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column" style="background-color: #fff;">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid mt-4">

              <!-- Page Heading -->
              <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">SELAMAT DATANG </h1>
                <a href="/logout" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-sign-out-alt"></i> Logout </a>
              </div>

          <!-- Content Row -->
          <!-- Content Row For E-Voting Candidate-->
          <div class="row">

            <!-- Card for E-voting candidate  -->
            {{#if candidate}}
            {{#each candidate}}
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"><h5>ID CALON: {{id}}</h5></div>
                      <img class="img-fluid mt-3 mb-4 shadow" style="width: 20rem; border-radius: 5px;" src="img/calon/{{foto}}" alt="">
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><h6 class="font-weight-bold">{{nama_calon}}</h6></div>
                      <div class="row mt-3">
                          {{!-- Button for user --}}
                          <div class="col-xl-6 col-md-5 col-6">
                            <a href="/pilih/{{id}}" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                                </span>
                                <span class="text">PILIH</span>
                            </a>
                          </div>
                          <div class="col-xl-6 col-md-5 col-6">
                            <a href="/detail/{{id}}" class="btn btn-info btn-icon-split">
                              <span class="icon text-white-50">
                                <i class="fas fa-info-circle"></i>
                              </span>
                              <span class="text">DETAIL</span>
                            </a>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
            {{else}}
            <div class="col-xl-12 col-md-12">
              <div class="d-flex justify-content-around bd-highlight mt-5">
                <div class="p-2 bd-highlight">
                  <div class="card border-left-danger shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase"><h4>TIDAK ADA CALON YANG TERDAFTAR!</h4></div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            {{/if}}
          </div>
          <!-- Content Row -->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Footer -->
  <footer class="sticky-footer" style="position: absolute; bottom: 0; width: 100%; height: 2.5rem; background-color: #faf3f3!important;">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; DANILLDEV</span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>